:global{
  .box{
  
    padding: 10px 100px;
    background-color: #22132F;
    .intUl{
        
       .ili{
            float: left;
            margin-right: 30px;
            color:white;
            font-size: 18px;
            font-weight: 600;

       }
    }
}  
}