html,body,div,ul,li{
  margin: 0px;
  padding: 0px;
}

li{
  list-style: none;
}
a{
  color:black;
  text-decoration: transparent;
  touch-action: none;
}
.clearfix::after{
  height:0;
  content: "";
  overflow: hidden;
  display: block;
  clear: both;
}
.fl{
  float:left;

}
.fr{
  float:right;
}

  .ant-pagination-item-active{
    background-color: #1890ff!important;
   }
   .ant-pagination-item-active a {
    color: #fff!important;
   }
